
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div [ngSwitch]="menuType" class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
    <div class="logo"><a routerLink="">VClick</a></div>
      <ul *ngSwitchCase="'default'" class="links">
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="user-auth">Login/SignUp</a></li>
        <li><a href="#">Cart({{cartItems}})</a></li>
        <li><fa-icon [icon]="icon"></fa-icon></li>
      </ul>
      <ul *ngSwitchCase="'user'" class="links">
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="">Home</a></li>
        <li><a>{{userName | titlecase}}</a></li>
        <li><a routerLink="my-orders">My Orders</a></li>
        <li><a (click)="userLogout()">Logout</a></li>
        <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
        <li><fa-icon [icon]="icon"></fa-icon></li>
      </ul>
      <ul *ngSwitchCase="'seller'" class="links">
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName | titlecase}}</a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <input #searchInput (keyup)="searchProduct($event)" type="text" placeholder="Type Something to Search..." required>
      <button (click)="submitSearch(searchInput.value)"  type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      <ul class="suggested-search" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
        </li>
      </ul>
    </form>
  </nav>
</div>


<!-- search btn -->
<!-- <div *ngIf="menuType==='default'" class="nav-search">
  <input type="text" placeholder="Search Product" />
  <button>Search</button>
</div> -->
