<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div [ngSwitch]="menuType" class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a routerLink="">VClick</a></div>

      <ul *ngSwitchCase="'default'" class="links">
        <li><a routerLink="seller-auth"><fa-icon [icon]="seller"></fa-icon></a></li>
        <li><a routerLink=""><fa-icon [icon]="home"></fa-icon></a></li>
        <li><a routerLink="user-auth"><fa-icon [icon]="user"></fa-icon></a></li>
      </ul>

      <div class="cart-quantity" *ngSwitchCase="'default'">
        <a href="#"><fa-icon [icon]="icon"></fa-icon></a>
        <div class="cart-items">{{cartItems}}</div>
      </div>
     
      <ul *ngSwitchCase="'user'" class="links">
        <li><a> {{userName | titlecase}}</a></li>
        <li><a routerLink="seller-auth"><fa-icon [icon]="seller"></fa-icon></a></li>
        <li><a routerLink="my-orders"><fa-icon [icon]="order"></fa-icon></a></li>
        <li><a routerLink=""><fa-icon [icon]="home"></fa-icon></a></li>
        <li><a (click)="userLogout()"><fa-icon [icon]="lgout"></fa-icon></a></li>
      </ul>

      <div class="cart-quantity" *ngSwitchCase="'user'">
        <a [routerLink]="cartItems>0?'cart-page':null"><fa-icon [icon]="icon"></fa-icon></a>
        <div class="cart-items">{{cartItems}}</div>
      </div>
     
      <ul *ngSwitchCase="'seller'" class="links">
        <li><a href="#">{{sellerName | titlecase}}</a></li>
        <li><a routerLink="seller-add-product"><fa-icon [icon]="add"></fa-icon></a></li>
        <li><a routerLink="seller-home"><fa-icon [icon]="home"></fa-icon></a></li>
        <li><a (click)="logout()"><fa-icon [icon]="lgout"></fa-icon></a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <input #searchInput (keyup)="searchProduct($event)" type="text" placeholder="Type Something to Search..."
        required>
      <button (click)="submitSearch(searchInput.value)" type="submit" class="go-icon"><i
          class="fas fa-long-arrow-alt-right"></i></button>
      <ul class="suggested-search" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
        </li>
      </ul>
    </form>
  </nav>
</div>
