<div class="container">
  <div *ngIf="!showLogin">
    <h2 class="login-title">Seller Sign-Up</h2>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="login-form">
      <div>
        <label for="name">Name </label>
        <input id="name" type="text" placeholder="Eren Buruk" name="name" required ngModel />
      </div>

      <div>
        <label for="email">Email </label>
        <input id="email" type="email" placeholder="me@example.com" name="email" required ngModel />
      </div>

      <div>
        <label for="password">Password </label>
        <input id="password" type="password" placeholder="password" name="password" required ngModel />
      </div>

      <button class="btn btn--form" type="submit" value="Log in"> Sign Up</button>
      <span class="extra-line">
        <span>Already have an account?</span>&nbsp;
        <a (click)="openLogin()">Sign-in</a>
      </span>
    </form>
  </div>
  <div *ngIf="showLogin">
    <p style="color: red;">{{authError}}</p>
    <h2 class="login-title">Seller Login</h2>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="login-form">

      <div>
        <label for="email">Email </label>
        <input id="email" type="email" placeholder="me@example.com" name="email" required ngModel />
      </div>

      <div>
        <label for="password">Password </label>
        <input id="password" type="password" placeholder="password" name="password" required ngModel />
      </div>

      <button class="btn btn--form" type="submit" value="Log in"> Log in</button>
      <span class="extra-line">
        <span>Don't have account?</span>&nbsp;
        <a (click)="openSignUp()">Sign Up</a>
      </span>
    </form>
  </div>
</div>