<div class="container">
    <div class="table-responsive pb-5">
        <h1 class="order-list">My Orders</h1>
        <table id="tbOrderHistory" class="table border ps-table w-100 mb-3" >      
            <thead>
                <tr>
                    <th class="font-weight-bold py-2 border-0">Order</th>
                    <th class="font-weight-bold py-2 border-0 quantity">Order ID</th>
                    <th class="font-weight-bold py-2 border-0 ">Price</th>
                    <th class="font-weight-bold py-2 border-0 ">Status</th>
                    <th class="font-weight-bold py-2 border-0 ">Track Order</th>
                    <th class="font-weight-bold py-2 border-0 ">Action</th>
                </tr>
                <tr *ngFor="let order of orderData">
                    <td >
                        <div>
                           apple iphone 14 pro max
                        </div>
                    </td>
                    <td>
                        <div>
                           {{order.id}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{order.totalPrice}}
                        </div>
                    </td>
                    <td>
                        <div>
                            Preparing your order
                        </div>
                    </td>
                    <td>
                        <div>
                            <a>Track Status</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-secondary" (click)="cancelOrder(order.id)">Cancel Order</button>
                        </div>
                    </td>  
                </tr>            
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>