<div class="container">
    <div class="table-responsive pb-5">
        <h1 class="order-list">My Orders</h1>
        <table id="tbOrderHistory" class="table border ps-table w-100 mb-3" >
            <thead >
                <tr>
                    <th class="font-weight-bold py-2 border-0">Order</th>
                    <th class="font-weight-bold py-2 border-0 quantity">Order ID</th>
                    <th class="font-weight-bold py-2 border-0 ">Price</th>
                    <th class="font-weight-bold py-2 border-0 ">Status</th>
                    <th class="font-weight-bold py-2 border-0 ">Cancel Order</th>
                    <th class="font-weight-bold py-2 border-0 ">Action</th>
                </tr>
                <td>
                    <div>
                       apple iphone 14 pro max
                    </div>
                </td>
                <td>
                    <div>
                        433475
                    </div>
                </td>
                <td>
                    <div>
                        130,000.00
                    </div>
                </td>
                <td>
                    <div>
                        Preparing your order
                    </div>
                </td>
                <td>
                    <div>
                        <a>Click to Cancel</a>
                    </div>
                </td>
                <td>
                    <div>
                        Go to Home
                    </div>
                </td>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>