<div class="container">
    <div class="table-responsive">
        <table class="table">
            <h1 class="order-list">My Orders</h1>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Orders</th>
                    <th scope="col">OrderID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">TrackingID</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orderData">
                    <th scope="row">1</th>
                    <td><fa-icon [icon]="icon"></fa-icon></td>
                    <td>{{order.id}}</td>
                    <td>{{order.totalPrice | currency}}</td>
                    <td>Preparing your order</td>
                    <td><a>004321</a></td>
                    <td> <button type="button" class="btn btn-secondary" (click)="cancelOrder(order.id)">Cancel</button></td>
                  </tr>
                </tbody>
              </table>
        </table>
      </div>
</div>
